<?xml version="1.0"?>

<launch>
  <!-- declare argument to be passed in via command line -->
  <arg name="numjoints" doc="numJoints specifies the number of rs485 devices which should be included for pressure control." />
  <arg name="ns" default="" doc="namespace for pneudrive node, topics, and parameters" />
  
  <!-- start pressure control node -->
  <node name='rs485_pressure_node' pkg='pneudrive' type='pressure_controller_node' required='false' output='screen' ns='$(arg ns)' />

  <!--Load hardware yaml file according to numjoints so controller knows what to look for-->
  <rosparam if="$(eval numjoints==1)" command="load" file="$(find pneudrive)/config/one_joint.yaml" ns='$(arg ns)' />
  <rosparam if="$(eval numjoints==2)" command="load" file="$(find pneudrive)/config/two_joints.yaml" ns='$(arg ns)' />
  <rosparam if="$(eval numjoints==3)" command="load" file="$(find pneudrive)/config/three_joints.yaml" ns='$(arg ns)' />

</launch>
